CREATE DATABASE [FarmMarket_3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FarmMarket_3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FarmMarket_3.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FarmMarket_3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FarmMarket_3_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
USE [FarmMarket_3]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 01/01/22 10:42:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTaiKhoan] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nchar](12) NULL,
	[Email] [nvarchar](100) NULL,
	[HoTen] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Quyen] [int] NULL,
	[TrangThai] [bit] NULL DEFAULT ((1)),
	[NgayTao] [datetime] NULL DEFAULT (getdate()),
	[NgayCapNhat] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 01/01/22 10:42:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[NgayTao] [datetime] NULL DEFAULT (getdate()),
	[NgayCapNhat] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 01/01/22 10:42:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[MaTH] [int] IDENTITY(1,1) NOT NULL,
	[TenThuongHieu] [nvarchar](150) NOT NULL,
	[NgayTao] [datetime] NULL DEFAULT (getdate()),
	[NgayCapNhat] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 01/01/22 10:42:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[TrongLuong] [nvarchar](100) NULL,
	[MoTa] [ntext] NULL,
	[Gia] [decimal](18, 0) NULL,
	[HinhAnh] [varchar](100) NULL,
	[SoLuong] [int] NULL,
	[NgayTao] [datetime] NULL DEFAULT (getdate()),
	[NgayCapNhat] [datetime] NULL DEFAULT (getdate()),
	[MaDanhMuc] [int] NOT NULL,
	[MaTH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 01/01/22 10:42:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGioHang] [int] IDENTITY(1,1) NOT NULL,
	[NgayTao] [datetime] NULL CONSTRAINT [DF__GioHang__NgayTao__239E4DCF]  DEFAULT (getdate()),
	[NgayCapNhat] [datetime] NULL CONSTRAINT [DF__GioHang__NgayCap__24927208]  DEFAULT (getdate()),
	[TenTaiKhoan] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__GioHang__F5001DA3B5472CDF] PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 01/01/22 10:42:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[MaSP] [int] NOT NULL,
	[MaGioHang] [int] NOT NULL,
	[Gia] [decimal](18, 0) NULL,
	[SoLuong] [int] NULL,
	[NgayTao] [datetime] NULL DEFAULT (getdate()),
	[NgayCapNhat] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


/****** Object:  Table [dbo].[HoaDon]    Script Date: 01/01/22 10:42:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[TrangThai] [nvarchar](100) NULL,
	[PhiShip] [decimal](18, 0) NULL,
	[ChuY] [ntext] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL DEFAULT (getdate()),
	[NgayCapNhat] [datetime] NULL DEFAULT (getdate()),
	[MaGioHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 01/01/22 10:42:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[MaLienHe] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [ntext] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLienHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanHoi]    Script Date: 01/01/22 10:42:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoi](
	[MaPhanHoi] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[SoDT] [nchar](12) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[NoiDung] [ntext] NULL,
	[NgayTao] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[MaPhanHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


/****** Object:  Table [dbo].[TinTuc]    Script Date: 01/01/22 10:42:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[MaTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NULL,
	[MoTaNgan] [nvarchar](300) NULL,
	[MoTaChiTiet] [ntext] NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[NgayTao] [datetime] NULL DEFAULT (getdate()),
	[NgayCapNhat] [datetime] NULL DEFAULT (getdate()),
	[TenTaiKhoan] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

------ALTER TABLE Vay

ALTER TABLE [dbo].[TinTuc] ADD CONSTRAINT [FK__TinTuc__TenTaiKh__398D8EEE] FOREIGN KEY (TenTaiKhoan) REFERENCES TaiKhoan(TenTaiKhoan);
GO
ALTER TABLE [dbo].[SanPham] ADD CONSTRAINT [FK__SanPham__MaTH__38996AB5] FOREIGN KEY (MaTH) REFERENCES ThuongHieu(MaTH);
GO
ALTER TABLE [dbo].[SanPham] ADD CONSTRAINT [FK__SanPham__MaDanhM__37A5467C] FOREIGN KEY (MaDanhMuc) REFERENCES DanhMuc(MaDanhMuc);
GO
ALTER TABLE [dbo].[HoaDon] ADD CONSTRAINT [FK__HoaDon__MaGioHan__398D8EEE] FOREIGN KEY (MaGioHang) REFERENCES GioHang(MaGioHang);
GO
ALTER TABLE [dbo].[GioHang] ADD CONSTRAINT [FK__GioHang__TenTaiK__36B12243] FOREIGN KEY (TenTaiKhoan) REFERENCES TaiKhoan(TenTaiKhoan);
GO
ALTER TABLE [dbo].[ChiTietGioHang] ADD CONSTRAINT [FK__ChiTietGio__MaSP__34C8D9D1] FOREIGN KEY (MaSP) REFERENCES SanPham(MaSP);
GO
ALTER TABLE [dbo].[ChiTietGioHang] ADD CONSTRAINT [FK__ChiTietGi__MaGio__38996AB5] FOREIGN KEY (MaGioHang) REFERENCES GioHang(MaGioHang);
GO

------------
CREATE TRIGGER trg_insert_danhmuc ON [DanhMuc]
FOR INSERT
AS 
  UPDATE [DanhMuc]
	SET NgayTao = GETDATE(), NgayCapNhat = GETDATE()
	from [DanhMuc] inner join inserted i
	on [DanhMuc].MaDanhMuc = i.MaDanhMuc
go
create trigger trg_danhmuc_update on [DanhMuc]
for update 
as
	begin
	  update [DanhMuc]
		set NgayCapNhat = getDate()
		from [DanhMuc] inner join deleted d
		on [DanhMuc].MaDanhMuc = d.MaDanhMuc;
	end


-- trigger for thuonghieu
go

CREATE TRIGGER trg_insert_thuonghieu ON [ThuongHieu]
FOR INSERT
AS 
  UPDATE [ThuongHieu]
	SET NgayTao = GETDATE(), NgayCapNhat = GETDATE()
	from [ThuongHieu] inner join inserted i
	on [ThuongHieu].MaTH = i.MaTH
go
create trigger trg_thuonghieu_update on [ThuongHieu]
for update 
as
	begin
	  update [ThuongHieu]
		set NgayCapNhat = getDate()
		from [ThuongHieu] inner join deleted d
		on [ThuongHieu].MaTH = d.MaTH;
	end
go
----trigger tin tuc
CREATE TRIGGER trg_insert_tintuc ON [TinTuc]
FOR INSERT
AS 
  UPDATE [TinTuc]
	SET NgayTao = GETDATE(), NgayCapNhat = GETDATE()
	from [TinTuc] inner join inserted i
	on [TinTuc].MaTinTuc = i.MaTinTuc
go
create trigger trg_tintuc_update on [TinTuc]
for update 
as
	begin
	  update [TinTuc]
		set NgayCapNhat = getDate()
		from [TinTuc] inner join deleted d
		on [TinTuc].MaTinTuc = d.MaTinTuc;
	end
go
-- trigger for taikhoan
go
CREATE TRIGGER trg_insert_taikhoan ON [TaiKhoan]
FOR INSERT
AS 
  UPDATE [TaiKhoan]
	SET NgayTao = GETDATE(), NgayCapNhat = GETDATE()
	from [TaiKhoan] inner join inserted i
	on [TaiKhoan].TenTaiKhoan = i.TenTaiKhoan
go
create trigger trg_user_update on [TaiKhoan]
for update 
as
	begin
	  update [TaiKhoan]
		set NgayCapNhat = getDate()
		from [TaiKhoan] inner join deleted d
		on [TaiKhoan].TenTaiKhoan = d.TenTaiKhoan;
	end

		-- trigger for sanpham
go
CREATE TRIGGER trg_insert_products ON [SanPham]
FOR INSERT
AS 
  UPDATE [SanPham]
	SET NgayTao = GETDATE(), NgayCapNhat = GETDATE()
	from [SanPham] inner join inserted i
	on [SanPham].MaSP = i.MaSP
go
create trigger trg_product_update on [SanPham]
for update 
as
	begin
	  update [SanPham]
		set NgayCapNhat = getDate()
		from [SanPham] inner join deleted d
		on [SanPham].MaSP = d.MaSP;
	end

				-- trigger for giohang
go
CREATE TRIGGER trg_insert_giohang ON [GioHang]
FOR INSERT
AS 
  UPDATE [GioHang]
	SET NgayTao = GETDATE(), NgayCapNhat = GETDATE()
	from [GioHang] inner join inserted i
	on [GioHang].MaGioHang = i.MaGioHang
go
create trigger trg_giohang_update on [GioHang]
for update 
as
	begin
	  update [GioHang]
		set NgayCapNhat = getDate()
		from [GioHang] inner join deleted d
		on [GioHang].MaGioHang = d.MaGioHang;
	end

					-- trigger for chitietgiohang
go
CREATE TRIGGER trg_insert_chitietgiohang ON [ChiTietGioHang]
FOR INSERT
AS 
  UPDATE [ChiTietGioHang]
	SET NgayCapNhat = GETDATE(), NgayTao = GETDATE()
	from [ChiTietGioHang] inner join inserted i
	on [ChiTietGioHang].MaGioHang = i.MaGioHang and [ChiTietGioHang].MaSP = i.MaSP
go
create trigger trg_chitietgiohang_update on [ChiTietGioHang]
for update 
as
	begin
	  update [ChiTietGioHang]
		set NgayCapNhat = getDate()
		from [ChiTietGioHang] inner join deleted d
		on [ChiTietGioHang].MaGioHang = d.MaGioHang and [ChiTietGioHang].MaSP = d.MaSP;
	end

GO

	-- trigger for donhang
CREATE TRIGGER trg_insert_donhang ON [HoaDon]
FOR INSERT
AS 
  UPDATE [HoaDon]
	SET NgayTao = GETDATE(), NgayCapNhat = GETDATE()
	from [HoaDon] inner join inserted i
	on [HoaDon].MaHoaDon = i.MaHoaDon
go
create trigger trg_hoadon_update on [HoaDon]
for update 
as
	begin
	  update [HoaDon]
		set NgayCapNhat = getDate()
		from [HoaDon] inner join deleted d
		on [HoaDon].MaHoaDon = d.MaHoaDon;
	end
go
INSERT [dbo].[ChiTietGioHang] ([MaSP], [MaGioHang], [Gia], [SoLuong], [NgayTao], [NgayCapNhat]) VALUES (1, 1, CAST(79000 AS Decimal(18, 0)), 5, CAST(N'2021-11-22 15:56:59.950' AS DateTime), CAST(N'2021-11-22 15:56:59.953' AS DateTime))
INSERT [dbo].[ChiTietGioHang] ([MaSP], [MaGioHang], [Gia], [SoLuong], [NgayTao], [NgayCapNhat]) VALUES (1, 12, CAST(79000 AS Decimal(18, 0)), 1, CAST(N'2021-12-06 15:22:02.270' AS DateTime), CAST(N'2021-12-06 15:22:02.273' AS DateTime))
INSERT [dbo].[ChiTietGioHang] ([MaSP], [MaGioHang], [Gia], [SoLuong], [NgayTao], [NgayCapNhat]) VALUES (1, 15, CAST(79000 AS Decimal(18, 0)), 1, CAST(N'2021-12-10 09:43:48.877' AS DateTime), CAST(N'2021-12-10 09:43:48.880' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [NgayTao], [NgayCapNhat]) VALUES (1, N'Trái Cây', CAST(N'2021-11-16 00:00:00.000' AS DateTime), CAST(N'2021-12-06 01:13:23.443' AS DateTime))
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [NgayTao], [NgayCapNhat]) VALUES (3, N'Chế biến sẵn', CAST(N'2021-11-16 00:00:00.000' AS DateTime), CAST(N'2021-12-06 01:13:29.217' AS DateTime))
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [NgayTao], [NgayCapNhat]) VALUES (4, N'Tươi sống', CAST(N'2021-11-17 15:50:49.227' AS DateTime), CAST(N'2021-11-17 15:50:49.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGioHang], [NgayTao], [NgayCapNhat], [TenTaiKhoan]) VALUES (1, CAST(N'2021-11-22 15:55:58.270' AS DateTime), CAST(N'2021-11-22 15:55:58.270' AS DateTime), N'phuongnm')
INSERT [dbo].[GioHang] ([MaGioHang], [NgayTao], [NgayCapNhat], [TenTaiKhoan]) VALUES (2, CAST(N'2021-11-22 15:56:11.873' AS DateTime), CAST(N'2021-11-22 15:56:11.873' AS DateTime), N'binhnt')
INSERT [dbo].[GioHang] ([MaGioHang], [NgayTao], [NgayCapNhat], [TenTaiKhoan]) VALUES (3, CAST(N'2021-11-26 14:16:19.823' AS DateTime), CAST(N'2021-11-26 14:16:19.827' AS DateTime), N'binhthanh')
SET IDENTITY_INSERT [dbo].[GioHang] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [TrangThai], [PhiShip], [ChuY], [DiaChi], [NgayTao], [NgayCapNhat], [MaGioHang]) VALUES (10, N'Đã giao', CAST(15000 AS Decimal(18, 0)), N'Giao hàng vào buổi trưa', N'Bắc Ninh', CAST(N'2021-12-09 13:43:48.970' AS DateTime), CAST(N'2021-12-09 13:43:48.970' AS DateTime), 13)
INSERT [dbo].[HoaDon] ([MaHoaDon], [TrangThai], [PhiShip], [ChuY], [DiaChi], [NgayTao], [NgayCapNhat], [MaGioHang]) VALUES (23, N'Đã giao', CAST(15000 AS Decimal(18, 0)), N'Giao hàng trong giờ hành chính', N'số 58, ngõ 105, Doãn Kế Thiện', CAST(N'2021-12-17 01:21:04.000' AS DateTime), CAST(N'2021-12-17 01:21:53.440' AS DateTime), 28)
INSERT [dbo].[HoaDon] ([MaHoaDon], [TrangThai], [PhiShip], [ChuY], [DiaChi], [NgayTao], [NgayCapNhat], [MaGioHang]) VALUES (24, N'Đã giao', CAST(15000 AS Decimal(18, 0)), NULL, N'Bắc Ninh', CAST(N'2021-12-17 01:23:20.000' AS DateTime), CAST(N'2021-12-17 01:23:59.040' AS DateTime), 29)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[PhanHoi] ON 

INSERT [dbo].[PhanHoi] ([MaPhanHoi], [Ten], [SoDT], [Email], [DiaChi], [NoiDung], [NgayTao]) VALUES (6, N'Phạm Hồng Mạnh', N'033244178   ', N'manhpham@gmail.com', N'Hải Dương', N'Trang web tiện lợi cung cấp cái bài viết hay', CAST(N'2021-12-11 00:53:37.063' AS DateTime))
INSERT [dbo].[PhanHoi] ([MaPhanHoi], [Ten], [SoDT], [Email], [DiaChi], [NoiDung], [NgayTao]) VALUES (7, N'Nguyễn Thị Mai Phương', N'0971702528  ', N'phuong@gmail.com', N'số 58, ngõ 105 Doãn Kế Thiện', N'Thực phẩm sạch, chất lượng', CAST(N'2021-12-17 23:38:57.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhanHoi] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [TrongLuong], [MoTa], [Gia], [HinhAnh], [SoLuong], [NgayTao], [NgayCapNhat], [MaDanhMuc], [MaTH]) VALUES (2, N'Nho xanh Autumn', N'0.5Kg', N'<p>Th&ocirc;ng tin sản ph&acirc;̉m đang được c&acirc;̣p nh&acirc;̣t</p>
', CAST(124500 AS Decimal(18, 0)), N'nho-xanh-autumn.jpg', 500, CAST(N'2021-11-17 18:26:49.000' AS DateTime), CAST(N'2021-12-10 10:05:35.950' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [SoDienThoai], [Email], [HoTen], [DiaChi], [Quyen], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'@ưqe324', N'123456', N'0973608625  ', N'm@gmail.com', N'binh', N'Phú Thọ', 0, 1, CAST(N'2021-12-23 22:31:01.647' AS DateTime), CAST(N'2021-12-23 22:42:33.713' AS DateTime))
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [SoDienThoai], [Email], [HoTen], [DiaChi], [Quyen], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'anhvk', N'123456', N'0388479900  ', N'anhvk@gmail.com', N'Vũ Kim Anh', N'Hải Dương', 0, 1, CAST(N'2021-12-11 01:42:17.177' AS DateTime), CAST(N'2021-12-16 17:45:23.593' AS DateTime))
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [SoDienThoai], [Email], [HoTen], [DiaChi], [Quyen], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'binhnt', N'123456', N'0978967076  ', N'binhthanh@gmail.com', N'Nguyễn Thanh Bình', N'Bắc Ninh', 1, 1, CAST(N'2021-11-16 17:13:29.413' AS DateTime), CAST(N'2021-12-18 00:32:13.267' AS DateTime))
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

INSERT [dbo].[ThuongHieu] ([MaTH], [TenThuongHieu], [NgayTao], [NgayCapNhat]) VALUES (1, N'Na Uy', CAST(N'2021-11-17 16:46:10.150' AS DateTime), CAST(N'2021-11-17 16:46:10.157' AS DateTime))
INSERT [dbo].[ThuongHieu] ([MaTH], [TenThuongHieu], [NgayTao], [NgayCapNhat]) VALUES (2, N'Farmer Market', CAST(N'2021-11-17 16:46:36.963' AS DateTime), CAST(N'2021-11-17 16:46:36.967' AS DateTime))
INSERT [dbo].[ThuongHieu] ([MaTH], [TenThuongHieu], [NgayTao], [NgayCapNhat]) VALUES (4, N'Úc', CAST(N'2021-11-17 18:05:26.840' AS DateTime), CAST(N'2021-11-17 18:05:26.843' AS DateTime))
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
